workshop_15/Node-RED/solution.json
[
  {
    "id": "ab6fc042.11788",
    "type": "mqtt in",
    "z": "b6004409.097f78",
    "name": "",
    "topic": "M5/motion",
    "qos": "2",
    "datatype": "json",
    "broker": "bd6355eb.c55698",
    "x": 480,
    "y": 320,
    "wires": [["917d3219.ae378", "2b0cfa23.111da6"]]
  },
  {
    "id": "917d3219.ae378",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "STATUS",
    "func": "msg.payload = msg.payload.st;\nif(msg.payload === 0){\n    msg.payload = 0;\n}\nelse if(msg.payload === 1){\n    msg.payload = 1;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 720,
    "y": 300,
    "wires": [["3a708700.c7b388"]]
  },
  {
    "id": "2b0cfa23.111da6",
    "type": "debug",
    "z": "b6004409.097f78",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 710,
    "y": 360,
    "wires": []
  },
  {
    "id": "3a708700.c7b388",
    "type": "ui_switch",
    "z": "b6004409.097f78",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "e39c745c.c4e438",
    "order": 1,
    "width": 2,
    "height": 2,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "num",
    "onicon": "accessibility",
    "oncolor": "#52FF33",
    "offvalue": "0",
    "offvalueType": "num",
    "officon": "accessibility",
    "offcolor": "#FF3333",
    "x": 910,
    "y": 300,
    "wires": [[]]
  },
  {
    "id": "bd6355eb.c55698",
    "type": "mqtt-broker",
    "z": "",
    "name": "Local Host Mqtt",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "e39c745c.c4e438",
    "type": "ui_group",
    "z": "",
    "name": "PIR",
    "tab": "e2a41ba8.88cee8",
    "order": 4,
    "disp": true,
    "width": 2,
    "collapse": false
  },
  {
    "id": "e2a41ba8.88cee8",
    "type": "ui_tab",
    "z": "",
    "name": "R O O M - MAIN",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false,
    "info": "<!--<!doctype html>-->\r\n<!--<html>-->\r\n<!--  <head>-->\r\n    <!-- Place your kit's code here -->\r\n<!--    <script src=\"https://kit.fontawesome.com/e71b471599.js\" crossorigin=\"anonymous\"></script>-->\r\n<!--  </head>-->\r\n\r\n<!--  <body>-->\r\n<!--    <i class=\"fa fa-level-up\" aria-hidden=\"true\"></i>-->\r\n<!--    <i class=\"fa fa-level-down\" aria-hidden=\"true\"></i>-->\r\n<!--  </body>-->\r\n<!--</html>-->"
  }
]
