workshop_16/Node-RED/solution.json
[
  {
    "id": "b6004409.097f78",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "65612a08.cef644",
    "type": "mqtt in",
    "z": "b6004409.097f78",
    "name": "",
    "topic": "M5/air",
    "qos": "2",
    "datatype": "json",
    "broker": "bd6355eb.c55698",
    "x": 250,
    "y": 140,
    "wires": [["2ec6e7.750be91a", "5ae30c9a.162fc4", "fba28ba8.634e58"]]
  },
  {
    "id": "1675483f.3a6dd8",
    "type": "mqtt in",
    "z": "b6004409.097f78",
    "name": "",
    "topic": "M5/fan",
    "qos": "2",
    "datatype": "json",
    "broker": "bd6355eb.c55698",
    "x": 250,
    "y": 360,
    "wires": [["94a46329.56d2"]]
  },
  {
    "id": "2ec6e7.750be91a",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "STATUS",
    "func": "msg.payload = msg.payload.st;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 420,
    "y": 140,
    "wires": [["fccdf79e.750ef8"]]
  },
  {
    "id": "5ae30c9a.162fc4",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "TEMP",
    "func": "msg.payload = msg.payload.temp;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 220,
    "wires": [["7bdd9c8a.1ac8e4"]]
  },
  {
    "id": "fccdf79e.750ef8",
    "type": "ui_switch",
    "z": "b6004409.097f78",
    "name": "",
    "label": "เปิด/ปิด",
    "tooltip": "",
    "group": "1b001c1e.022e54",
    "order": 1,
    "width": 6,
    "height": 1,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "num",
    "onicon": "fa-bullseye",
    "oncolor": "#52FF33",
    "offvalue": "0",
    "offvalueType": "num",
    "officon": "fa-bullseye",
    "offcolor": "#FF3333",
    "x": 630,
    "y": 140,
    "wires": [["817319f8.b6af98"]]
  },
  {
    "id": "81a2c1af.477ac",
    "type": "mqtt out",
    "z": "b6004409.097f78",
    "name": "control AIR",
    "topic": "Node/air",
    "qos": "",
    "retain": "",
    "broker": "bd6355eb.c55698",
    "x": 1270,
    "y": 140,
    "wires": []
  },
  {
    "id": "817319f8.b6af98",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "check",
    "func": "if(msg.payload !== 1){\n    msg.payload = {st: 0};\n}else{\n    msg.payload = {st: 1};\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 790,
    "y": 140,
    "wires": [["22585232.7bb42e"]]
  },
  {
    "id": "94a46329.56d2",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "LEVEL",
    "func": "msg.payload = msg.payload.lv;\n// if(msg.payload === 0){\n//     msg.payload = 0;\n// }\n// else if(msg.payload === 1){\n//     msg.payload = 1;\n// }else if(msg.payload === 2){\n//     msg.payload = 2;\n// }\n// else if(msg.payload === 3){\n//     msg.payload = 3;\n// }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 360,
    "wires": [["d4d3d182.346f6"]]
  },
  {
    "id": "d4d3d182.346f6",
    "type": "ui_dropdown",
    "z": "b6004409.097f78",
    "name": "[ FAN LEVEL ]",
    "label": "",
    "tooltip": "",
    "place": "Select option",
    "group": "d6c84eca.74f5b",
    "order": 1,
    "width": 4,
    "height": 1,
    "passthru": true,
    "options": [
      {
        "label": "0",
        "value": 0,
        "type": "num"
      },
      {
        "label": "1",
        "value": 1,
        "type": "num"
      },
      {
        "label": "2",
        "value": 2,
        "type": "num"
      },
      {
        "label": "3",
        "value": 3,
        "type": "num"
      }
    ],
    "payload": "",
    "topic": "Node/fan",
    "x": 720,
    "y": 360,
    "wires": [["dcda5b39.7eb8d8"]]
  },
  {
    "id": "dcda5b39.7eb8d8",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "create OBJ",
    "func": "msg.payload = {st: msg.payload};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 910,
    "y": 360,
    "wires": [["eb2a4fc6.5c584"]]
  },
  {
    "id": "eb2a4fc6.5c584",
    "type": "mqtt out",
    "z": "b6004409.097f78",
    "name": "control FAN",
    "topic": "Node/fan",
    "qos": "2",
    "retain": "",
    "broker": "bd6355eb.c55698",
    "x": 1150,
    "y": 360,
    "wires": []
  },
  {
    "id": "868f0163.778db",
    "type": "mqtt in",
    "z": "b6004409.097f78",
    "name": "",
    "topic": "M5/light1",
    "qos": "2",
    "datatype": "json",
    "broker": "bd6355eb.c55698",
    "x": 260,
    "y": 540,
    "wires": [["2c72c284.8302de"]]
  },
  {
    "id": "2c72c284.8302de",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "STATUS",
    "func": "global.set('st1',msg.payload.st);\nreturn msg;\n\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 420,
    "y": 540,
    "wires": [
      [
        "1f892a81.ac8df5",
        "5e04de4a.f679d",
        "9bffc4d7.7cc838",
        "c410ca04.1353b8"
      ]
    ]
  },
  {
    "id": "1dc55f6f.53ce91",
    "type": "ui_switch",
    "z": "b6004409.097f78",
    "name": "",
    "label": "เปิด/ปิด",
    "tooltip": "",
    "group": "5e8c30d8.51957",
    "order": 1,
    "width": 4,
    "height": 1,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "num",
    "onicon": "fa-bullseye",
    "oncolor": "#52FF33",
    "offvalue": "0",
    "offvalueType": "num",
    "officon": "fa-bullseye",
    "offcolor": "#FF3333",
    "x": 810,
    "y": 480,
    "wires": [["e53c11a9.31ed2"]]
  },
  {
    "id": "e53c11a9.31ed2",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "create OBJ",
    "func": "global.set('st1',msg.payload);\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 970,
    "y": 480,
    "wires": [["ae7706b3.3f7348"]]
  },
  {
    "id": "44694d79.dc96a4",
    "type": "ui_slider",
    "z": "b6004409.097f78",
    "name": "",
    "label": "RED",
    "tooltip": "",
    "group": "5e8c30d8.51957",
    "order": 2,
    "width": 4,
    "height": 1,
    "passthru": true,
    "outs": "end",
    "topic": "",
    "min": 0,
    "max": "255",
    "step": 1,
    "x": 810,
    "y": 560,
    "wires": [["5cac8d15.94a194"]]
  },
  {
    "id": "8791d44e.021e68",
    "type": "ui_slider",
    "z": "b6004409.097f78",
    "name": "",
    "label": "GREEN",
    "tooltip": "",
    "group": "5e8c30d8.51957",
    "order": 3,
    "width": 4,
    "height": 1,
    "passthru": true,
    "outs": "end",
    "topic": "",
    "min": 0,
    "max": "255",
    "step": 1,
    "x": 800,
    "y": 520,
    "wires": [["ed9c5ea2.9dfa9"]]
  },
  {
    "id": "3b481ff2.26861",
    "type": "ui_slider",
    "z": "b6004409.097f78",
    "name": "",
    "label": "BLUE",
    "tooltip": "",
    "group": "5e8c30d8.51957",
    "order": 4,
    "width": 4,
    "height": 1,
    "passthru": true,
    "outs": "end",
    "topic": "",
    "min": 0,
    "max": "255",
    "step": 1,
    "x": 810,
    "y": 600,
    "wires": [["eb7078b4.967698"]]
  },
  {
    "id": "ed9c5ea2.9dfa9",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "create OBJ",
    "func": "global.set('g1',msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 970,
    "y": 520,
    "wires": [["ae7706b3.3f7348"]]
  },
  {
    "id": "5cac8d15.94a194",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "create OBJ",
    "func": "global.set('r1',msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 970,
    "y": 560,
    "wires": [["ae7706b3.3f7348"]]
  },
  {
    "id": "eb7078b4.967698",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "create OBJ",
    "func": "global.set('b1',msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 970,
    "y": 600,
    "wires": [["ae7706b3.3f7348"]]
  },
  {
    "id": "d466a8c7.9fa6b8",
    "type": "mqtt out",
    "z": "b6004409.097f78",
    "name": "control light1 Color",
    "topic": "Node/light1",
    "qos": "",
    "retain": "",
    "broker": "bd6355eb.c55698",
    "x": 1390,
    "y": 540,
    "wires": []
  },
  {
    "id": "7bdd9c8a.1ac8e4",
    "type": "ui_slider",
    "z": "b6004409.097f78",
    "name": "",
    "label": "ปรับอุณหภูมิ",
    "tooltip": "",
    "group": "1b001c1e.022e54",
    "order": 2,
    "width": 4,
    "height": 1,
    "passthru": true,
    "outs": "end",
    "topic": "M5/air",
    "min": "15",
    "max": "30",
    "step": 1,
    "x": 610,
    "y": 220,
    "wires": [["eeb82682.17d1e8", "c135c2a8.df2e9"]]
  },
  {
    "id": "eeb82682.17d1e8",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "create OBJ",
    "func": "msg.payload = {temp: msg.payload};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 790,
    "y": 200,
    "wires": [["22585232.7bb42e"]]
  },
  {
    "id": "c135c2a8.df2e9",
    "type": "ui_gauge",
    "z": "b6004409.097f78",
    "name": "",
    "group": "1b001c1e.022e54",
    "order": 3,
    "width": 2,
    "height": 2,
    "gtype": "donut",
    "title": "Air temp",
    "label": "celsius",
    "format": "{{value}}",
    "min": "15",
    "max": "30",
    "colors": ["#0199b4", "#00dae6", "#0235ff"],
    "seg1": "",
    "seg2": "",
    "x": 780,
    "y": 260,
    "wires": []
  },
  {
    "id": "fba28ba8.634e58",
    "type": "debug",
    "z": "b6004409.097f78",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 410,
    "y": 280,
    "wires": []
  },
  {
    "id": "22585232.7bb42e",
    "type": "join",
    "z": "b6004409.097f78",
    "name": "",
    "mode": "custom",
    "build": "merged",
    "property": "payload",
    "propertyType": "msg",
    "key": "/light",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": true,
    "timeout": "1",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "num",
    "reduceFixup": "",
    "x": 970,
    "y": 140,
    "wires": [["81a2c1af.477ac", "d559da19.718508"]]
  },
  {
    "id": "d559da19.718508",
    "type": "link out",
    "z": "b6004409.097f78",
    "name": "Dashboard Air Temp",
    "links": ["5155b336.ccdc5c", "85d7f42b.c7f2d8"],
    "x": 1215,
    "y": 200,
    "wires": []
  },
  {
    "id": "ae7706b3.3f7348",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "sendOBJ",
    "func": "ST  = global.get('st1');\ng   =  global.get('g1');\nr   =  global.get('r1');\nb   =  global.get('b1');\n\nmsg.payload = {\n    st:ST,\n    G:g,\n    R:r,\n    B:b,\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1220,
    "y": 540,
    "wires": [["d466a8c7.9fa6b8"]]
  },
  {
    "id": "5e04de4a.f679d",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "getValue",
    "func": "msg.payload = global.get('g1');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 520,
    "wires": [["8791d44e.021e68"]]
  },
  {
    "id": "9bffc4d7.7cc838",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "getValue",
    "func": "msg.payload = global.get('r1');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 560,
    "wires": [["44694d79.dc96a4"]]
  },
  {
    "id": "c410ca04.1353b8",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "getValue",
    "func": "msg.payload = global.get('b1');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 600,
    "wires": [["3b481ff2.26861"]]
  },
  {
    "id": "1f892a81.ac8df5",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "getValue",
    "func": "msg.payload = global.get('st1');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 480,
    "wires": [["1dc55f6f.53ce91"]]
  },
  {
    "id": "3bde83c1.523e8c",
    "type": "mqtt in",
    "z": "b6004409.097f78",
    "name": "",
    "topic": "M5/light2",
    "qos": "2",
    "datatype": "json",
    "broker": "bd6355eb.c55698",
    "x": 260,
    "y": 780,
    "wires": [["8afb375d.ce1d38"]]
  },
  {
    "id": "8afb375d.ce1d38",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "STATUS",
    "func": "global.set('st2',msg.payload.st);\nreturn msg;\n\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 420,
    "y": 780,
    "wires": [
      [
        "c5e9145c.325128",
        "8b766e7d.04942",
        "61dd8793.111888",
        "89c8fac7.3d03c8"
      ]
    ]
  },
  {
    "id": "39840312.0a5a6c",
    "type": "ui_switch",
    "z": "b6004409.097f78",
    "name": "",
    "label": "เปิด/ปิด",
    "tooltip": "",
    "group": "7f85217b.4b6c",
    "order": 1,
    "width": 4,
    "height": 1,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "num",
    "onicon": "fa-bullseye",
    "oncolor": "#52FF33",
    "offvalue": "0",
    "offvalueType": "num",
    "officon": "fa-bullseye",
    "offcolor": "#FF3333",
    "x": 810,
    "y": 720,
    "wires": [["475c71e8.fedbb"]]
  },
  {
    "id": "475c71e8.fedbb",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "create OBJ",
    "func": "global.set('st2',msg.payload);\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 970,
    "y": 720,
    "wires": [["2392c6b4.ed183a"]]
  },
  {
    "id": "a80a91ad.fdadc",
    "type": "ui_slider",
    "z": "b6004409.097f78",
    "name": "",
    "label": "RED",
    "tooltip": "",
    "group": "7f85217b.4b6c",
    "order": 2,
    "width": 4,
    "height": 1,
    "passthru": true,
    "outs": "end",
    "topic": "",
    "min": 0,
    "max": "255",
    "step": 1,
    "x": 810,
    "y": 800,
    "wires": [["f38aa45c.e45778"]]
  },
  {
    "id": "9cec34e7.d85a08",
    "type": "ui_slider",
    "z": "b6004409.097f78",
    "name": "",
    "label": "GREEN",
    "tooltip": "",
    "group": "7f85217b.4b6c",
    "order": 3,
    "width": 4,
    "height": 1,
    "passthru": true,
    "outs": "end",
    "topic": "",
    "min": 0,
    "max": "255",
    "step": 1,
    "x": 800,
    "y": 760,
    "wires": [["7be27a82.9e41b4"]]
  },
  {
    "id": "a6034126.25f93",
    "type": "ui_slider",
    "z": "b6004409.097f78",
    "name": "",
    "label": "BLUE",
    "tooltip": "",
    "group": "7f85217b.4b6c",
    "order": 4,
    "width": 4,
    "height": 1,
    "passthru": true,
    "outs": "end",
    "topic": "",
    "min": 0,
    "max": "255",
    "step": 1,
    "x": 810,
    "y": 840,
    "wires": [["ef3658ce.ce4dd8"]]
  },
  {
    "id": "7be27a82.9e41b4",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "create OBJ",
    "func": "global.set('g2',msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 970,
    "y": 760,
    "wires": [["2392c6b4.ed183a"]]
  },
  {
    "id": "f38aa45c.e45778",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "create OBJ",
    "func": "global.set('r2',msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 970,
    "y": 800,
    "wires": [["2392c6b4.ed183a"]]
  },
  {
    "id": "ef3658ce.ce4dd8",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "create OBJ",
    "func": "global.set('b2',msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 970,
    "y": 840,
    "wires": [["2392c6b4.ed183a"]]
  },
  {
    "id": "96acf714.895ec8",
    "type": "mqtt out",
    "z": "b6004409.097f78",
    "name": "control light2 Color",
    "topic": "Node/light2",
    "qos": "",
    "retain": "",
    "broker": "bd6355eb.c55698",
    "x": 1390,
    "y": 780,
    "wires": []
  },
  {
    "id": "2392c6b4.ed183a",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "sendOBJ",
    "func": "ST  = global.get('st2');\ng   =  global.get('g2');\nr   =  global.get('r2');\nb   =  global.get('b2');\n\nmsg.payload = {\n    st:ST,\n    G:g,\n    R:r,\n    B:b,\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1220,
    "y": 780,
    "wires": [["96acf714.895ec8"]]
  },
  {
    "id": "8b766e7d.04942",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "getValue",
    "func": "msg.payload = global.get('g2');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 760,
    "wires": [["9cec34e7.d85a08"]]
  },
  {
    "id": "61dd8793.111888",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "getValue",
    "func": "msg.payload = global.get('r2');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 800,
    "wires": [["a80a91ad.fdadc"]]
  },
  {
    "id": "89c8fac7.3d03c8",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "getValue",
    "func": "msg.payload = global.get('b2');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 840,
    "wires": [["a6034126.25f93"]]
  },
  {
    "id": "c5e9145c.325128",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "getValue",
    "func": "msg.payload = global.get('st2');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 720,
    "wires": [["39840312.0a5a6c"]]
  },
  {
    "id": "62c07e5e.60ad4",
    "type": "mqtt in",
    "z": "b6004409.097f78",
    "name": "",
    "topic": "M5/light3",
    "qos": "2",
    "datatype": "json",
    "broker": "bd6355eb.c55698",
    "x": 260,
    "y": 1040,
    "wires": [["2663ff03.6f291"]]
  },
  {
    "id": "2663ff03.6f291",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "STATUS",
    "func": "global.set('st3',msg.payload.st);\nreturn msg;\n\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 420,
    "y": 1040,
    "wires": [
      ["a8cc694f.546528", "c909513c.5df63", "dc10f5e3.cb9a08", "d3a2038d.a3b9d"]
    ]
  },
  {
    "id": "e0066d49.6b962",
    "type": "ui_switch",
    "z": "b6004409.097f78",
    "name": "",
    "label": "เปิด/ปิด",
    "tooltip": "",
    "group": "ecdedfc8.c867e",
    "order": 1,
    "width": 4,
    "height": 1,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "num",
    "onicon": "fa-bullseye",
    "oncolor": "#52FF33",
    "offvalue": "0",
    "offvalueType": "num",
    "officon": "fa-bullseye",
    "offcolor": "#FF3333",
    "x": 810,
    "y": 980,
    "wires": [["f5eca467.1cbd98"]]
  },
  {
    "id": "f5eca467.1cbd98",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "create OBJ",
    "func": "global.set('st3',msg.payload);\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 970,
    "y": 980,
    "wires": [["e4ca6789.646928"]]
  },
  {
    "id": "dcf77592.5e7568",
    "type": "ui_slider",
    "z": "b6004409.097f78",
    "name": "",
    "label": "RED",
    "tooltip": "",
    "group": "ecdedfc8.c867e",
    "order": 2,
    "width": 4,
    "height": 1,
    "passthru": true,
    "outs": "end",
    "topic": "",
    "min": 0,
    "max": "255",
    "step": 1,
    "x": 810,
    "y": 1060,
    "wires": [["42a51231.9a86cc"]]
  },
  {
    "id": "80321b52.d38a18",
    "type": "ui_slider",
    "z": "b6004409.097f78",
    "name": "",
    "label": "GREEN",
    "tooltip": "",
    "group": "ecdedfc8.c867e",
    "order": 3,
    "width": 4,
    "height": 1,
    "passthru": true,
    "outs": "end",
    "topic": "",
    "min": 0,
    "max": "255",
    "step": 1,
    "x": 800,
    "y": 1020,
    "wires": [["9e25e1b6.55013"]]
  },
  {
    "id": "c4ee4b30.912918",
    "type": "ui_slider",
    "z": "b6004409.097f78",
    "name": "",
    "label": "BLUE",
    "tooltip": "",
    "group": "ecdedfc8.c867e",
    "order": 4,
    "width": 4,
    "height": 1,
    "passthru": true,
    "outs": "end",
    "topic": "",
    "min": 0,
    "max": "255",
    "step": 1,
    "x": 810,
    "y": 1100,
    "wires": [["93be8c9e.e864"]]
  },
  {
    "id": "9e25e1b6.55013",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "create OBJ",
    "func": "global.set('g3',msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 970,
    "y": 1020,
    "wires": [["e4ca6789.646928"]]
  },
  {
    "id": "42a51231.9a86cc",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "create OBJ",
    "func": "global.set('r3',msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 970,
    "y": 1060,
    "wires": [["e4ca6789.646928"]]
  },
  {
    "id": "93be8c9e.e864",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "create OBJ",
    "func": "global.set('b3',msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 970,
    "y": 1100,
    "wires": [["e4ca6789.646928"]]
  },
  {
    "id": "b3d062c5.e3592",
    "type": "mqtt out",
    "z": "b6004409.097f78",
    "name": "control light3 Color",
    "topic": "Node/light3",
    "qos": "",
    "retain": "",
    "broker": "bd6355eb.c55698",
    "x": 1390,
    "y": 1040,
    "wires": []
  },
  {
    "id": "e4ca6789.646928",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "sendOBJ",
    "func": "ST  = global.get('st3');\ng   =  global.get('g3');\nr   =  global.get('r3');\nb   =  global.get('b3');\n\nmsg.payload = {\n    st:ST,\n    G:g,\n    R:r,\n    B:b,\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1220,
    "y": 1040,
    "wires": [["b3d062c5.e3592"]]
  },
  {
    "id": "c909513c.5df63",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "getValue",
    "func": "msg.payload = global.get('g3');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 1020,
    "wires": [["80321b52.d38a18"]]
  },
  {
    "id": "dc10f5e3.cb9a08",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "getValue",
    "func": "msg.payload = global.get('r3');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 1060,
    "wires": [["dcf77592.5e7568"]]
  },
  {
    "id": "d3a2038d.a3b9d",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "getValue",
    "func": "msg.payload = global.get('b3');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 1100,
    "wires": [["c4ee4b30.912918"]]
  },
  {
    "id": "a8cc694f.546528",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "getValue",
    "func": "msg.payload = global.get('st3');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 980,
    "wires": [["e0066d49.6b962"]]
  },
  {
    "id": "bd6355eb.c55698",
    "type": "mqtt-broker",
    "z": "",
    "name": "Local Host Mqtt",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "1b001c1e.022e54",
    "type": "ui_group",
    "z": "",
    "name": "AIR",
    "tab": "e2a41ba8.88cee8",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "d6c84eca.74f5b",
    "type": "ui_group",
    "z": "",
    "name": "FAN",
    "tab": "e2a41ba8.88cee8",
    "order": 3,
    "disp": true,
    "width": 4,
    "collapse": false
  },
  {
    "id": "5e8c30d8.51957",
    "type": "ui_group",
    "z": "",
    "name": "LIGHT 1",
    "tab": "e2a41ba8.88cee8",
    "order": 5,
    "disp": true,
    "width": 4,
    "collapse": true
  },
  {
    "id": "7f85217b.4b6c",
    "type": "ui_group",
    "z": "",
    "name": "LIGHT 2",
    "tab": "e2a41ba8.88cee8",
    "order": 6,
    "disp": true,
    "width": 4,
    "collapse": true
  },
  {
    "id": "ecdedfc8.c867e",
    "type": "ui_group",
    "z": "",
    "name": "LIGHT 3",
    "tab": "e2a41ba8.88cee8",
    "order": 7,
    "disp": true,
    "width": 4,
    "collapse": true
  },
  {
    "id": "e2a41ba8.88cee8",
    "type": "ui_tab",
    "z": "",
    "name": "R O O M - MAIN",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false,
    "info": "<!--<!doctype html>-->\r\n<!--<html>-->\r\n<!--  <head>-->\r\n    <!-- Place your kit's code here -->\r\n<!--    <script src=\"https://kit.fontawesome.com/e71b471599.js\" crossorigin=\"anonymous\"></script>-->\r\n<!--  </head>-->\r\n\r\n<!--  <body>-->\r\n<!--    <i class=\"fa fa-level-up\" aria-hidden=\"true\"></i>-->\r\n<!--    <i class=\"fa fa-level-down\" aria-hidden=\"true\"></i>-->\r\n<!--  </body>-->\r\n<!--</html>-->"
  }
]
