workshop_8/Node-RED/solution.json
[
  {
    "id": "9c9262da.a4c",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "84fc60d8.3b422",
    "type": "inject",
    "z": "9c9262da.a4c",
    "name": "AIR JSON MOCK UP",
    "topic": "",
    "payload": "{\"st\":1,\"temp\":25}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 520,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "fad0232c.2164d",
    "type": "inject",
    "z": "9c9262da.a4c",
    "name": "FAN JSON MOCK UP",
    "topic": "",
    "payload": "{\"st\":1,\"lv\":3}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 520,
    "y": 260,
    "wires": [[]]
  },
  {
    "id": "220c9e39.490792",
    "type": "inject",
    "z": "9c9262da.a4c",
    "name": "LIGHT1 JSON MOCK UP",
    "topic": "",
    "payload": "{\"st\":1,\"R\":25,\"G\":25,\"B\":255}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 530,
    "y": 320,
    "wires": [[]]
  },
  {
    "id": "e4d92c05.76565",
    "type": "inject",
    "z": "9c9262da.a4c",
    "name": "LIGHT2 JSON MOCK UP",
    "topic": "",
    "payload": "{\"st\":1,\"R\":25,\"G\":25,\"B\":255}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 530,
    "y": 360,
    "wires": [[]]
  },
  {
    "id": "823d8601.fc4368",
    "type": "inject",
    "z": "9c9262da.a4c",
    "name": "LIGHT2 JSON MOCK UP",
    "topic": "",
    "payload": "{\"st\":1,\"R\":25,\"G\":25,\"B\":255}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 530,
    "y": 420,
    "wires": [[]]
  }
]
