workshop_9/Node-RED/solution.json
[
  {
    "id": "cfb79169.51cc",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d93e1989.4191e8",
    "type": "mqtt in",
    "z": "cfb79169.51cc",
    "name": "",
    "topic": "M5/env",
    "qos": "2",
    "datatype": "json",
    "broker": "bd6355eb.c55698",
    "x": 130,
    "y": 120,
    "wires": [["df8677e2.def578", "8ddf61d.c2583a", "d941e61c.5ad6a8"]]
  },
  {
    "id": "df8677e2.def578",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "TEMP",
    "func": "msg.payload = msg.payload.temp;\nglobal.set('env_temp',msg.payload.temp);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "8ddf61d.c2583a",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "HUMI",
    "func": "msg.payload = msg.payload.humi;\nglobal.set('env_humi',msg.payload.humi);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "d941e61c.5ad6a8",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "Pressure",
    "func": "msg.payload = (msg.payload.pres/100000).toFixed(2);\nglobal.set('env_pres',msg.payload.pres);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 420,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "76ee2d4f.6dbd34",
    "type": "mqtt in",
    "z": "cfb79169.51cc",
    "name": "",
    "topic": "M5/motion",
    "qos": "2",
    "datatype": "json",
    "broker": "bd6355eb.c55698",
    "x": 140,
    "y": 240,
    "wires": [["de47a6e3.f22d48"]]
  },
  {
    "id": "de47a6e3.f22d48",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "STATUS",
    "func": "msg.payload = msg.payload.st;\nif(msg.payload === 0){\n    msg.payload = 0;\n}\nelse if(msg.payload === 1){\n    msg.payload = 1;\n}\nglobal.set('motion',msg.payload.st);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 240,
    "wires": [[]]
  },
  {
    "id": "e6af74e.77e6088",
    "type": "mqtt in",
    "z": "cfb79169.51cc",
    "name": "",
    "topic": "M5/air",
    "qos": "2",
    "datatype": "json",
    "broker": "bd6355eb.c55698",
    "x": 130,
    "y": 320,
    "wires": [["6f091b7e.d93c64", "855fd3c8.f2bed"]]
  },
  {
    "id": "6f091b7e.d93c64",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "STATUS",
    "func": "msg.payload = msg.payload.st;\nglobal.set('air_st',msg.payload.st);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 320,
    "wires": [[]]
  },
  {
    "id": "855fd3c8.f2bed",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "TEMP",
    "func": "msg.payload = msg.payload.temp;\nglobal.set('air_temp',msg.payload.temp);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 360,
    "wires": [[]]
  },
  {
    "id": "45a28560.a2cf3c",
    "type": "mqtt in",
    "z": "cfb79169.51cc",
    "name": "",
    "topic": "M5/fan",
    "qos": "2",
    "datatype": "json",
    "broker": "bd6355eb.c55698",
    "x": 130,
    "y": 420,
    "wires": [["3c61aff9.fcd05"]]
  },
  {
    "id": "3c61aff9.fcd05",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "LEVEL",
    "func": "msg.payload = msg.payload.lv;\nglobal.set('fan_lv',msg.payload.lv);\n// if(msg.payload === 0){\n//     msg.payload = 0;\n// }\n// else if(msg.payload === 1){\n//     msg.payload = 1;\n// }else if(msg.payload === 2){\n//     msg.payload = 2;\n// }\n// else if(msg.payload === 3){\n//     msg.payload = 3;\n// }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 420,
    "wires": [[]]
  },
  {
    "id": "5b75d046.12164",
    "type": "mqtt in",
    "z": "cfb79169.51cc",
    "name": "",
    "topic": "M5/light1",
    "qos": "2",
    "datatype": "json",
    "broker": "bd6355eb.c55698",
    "x": 120,
    "y": 520,
    "wires": [["e0d4a10f.a105b"]]
  },
  {
    "id": "e0d4a10f.a105b",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "STATUS",
    "func": "global.set('st1',msg.payload.st);\nreturn msg;\n\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 520,
    "wires": [
      [
        "753c0bb3.4589e4",
        "229bbb33.529364",
        "fa67b270.572b1",
        "56068d1e.9fc9a4"
      ]
    ]
  },
  {
    "id": "229bbb33.529364",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "getValue",
    "func": "msg.payload = global.get('g1');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 780,
    "y": 500,
    "wires": [[]]
  },
  {
    "id": "fa67b270.572b1",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "getValue",
    "func": "msg.payload = global.get('r1');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 780,
    "y": 540,
    "wires": [[]]
  },
  {
    "id": "56068d1e.9fc9a4",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "getValue",
    "func": "msg.payload = global.get('b1');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 780,
    "y": 580,
    "wires": [[]]
  },
  {
    "id": "753c0bb3.4589e4",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "getValue",
    "func": "msg.payload = global.get('st1');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 780,
    "y": 460,
    "wires": [[]]
  },
  {
    "id": "946c176f.189468",
    "type": "mqtt in",
    "z": "cfb79169.51cc",
    "name": "",
    "topic": "M5/light2",
    "qos": "2",
    "datatype": "json",
    "broker": "bd6355eb.c55698",
    "x": 120,
    "y": 720,
    "wires": [["c59c5849.d2cbd8"]]
  },
  {
    "id": "c59c5849.d2cbd8",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "STATUS",
    "func": "global.set('st2',msg.payload.st);\nreturn msg;\n\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 720,
    "wires": [
      ["8822ac18.d6b8d", "c2ca2326.b1bf7", "ab19b158.f479a", "2f14328e.60142e"]
    ]
  },
  {
    "id": "c2ca2326.b1bf7",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "getValue",
    "func": "msg.payload = global.get('g2');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 780,
    "y": 700,
    "wires": [[]]
  },
  {
    "id": "ab19b158.f479a",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "getValue",
    "func": "msg.payload = global.get('r2');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 780,
    "y": 740,
    "wires": [[]]
  },
  {
    "id": "2f14328e.60142e",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "getValue",
    "func": "msg.payload = global.get('b2');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 780,
    "y": 780,
    "wires": [[]]
  },
  {
    "id": "8822ac18.d6b8d",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "getValue",
    "func": "msg.payload = global.get('st2');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 780,
    "y": 660,
    "wires": [[]]
  },
  {
    "id": "9f186a70.be3648",
    "type": "mqtt in",
    "z": "cfb79169.51cc",
    "name": "",
    "topic": "M5/light3",
    "qos": "2",
    "datatype": "json",
    "broker": "bd6355eb.c55698",
    "x": 120,
    "y": 980,
    "wires": [["4346fea9.b51ff"]]
  },
  {
    "id": "4346fea9.b51ff",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "STATUS",
    "func": "global.set('st3',msg.payload.st);\nreturn msg;\n\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 980,
    "wires": [
      [
        "669f66a5.ab56d8",
        "b735c8d7.1f2e98",
        "a1566eaa.a8ef1",
        "9541e906.af46d8"
      ]
    ]
  },
  {
    "id": "b735c8d7.1f2e98",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "getValue",
    "func": "msg.payload = global.get('g3');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 780,
    "y": 960,
    "wires": [[]]
  },
  {
    "id": "a1566eaa.a8ef1",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "getValue",
    "func": "msg.payload = global.get('r3');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 780,
    "y": 1000,
    "wires": [[]]
  },
  {
    "id": "9541e906.af46d8",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "getValue",
    "func": "msg.payload = global.get('b3');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 780,
    "y": 1040,
    "wires": [[]]
  },
  {
    "id": "669f66a5.ab56d8",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "getValue",
    "func": "msg.payload = global.get('st3');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 780,
    "y": 920,
    "wires": [[]]
  },
  {
    "id": "bd6355eb.c55698",
    "type": "mqtt-broker",
    "z": "",
    "name": "Local Host Mqtt",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]
