workshop_6/Node-RED/solution.json
[
  {
    "id": "564c5e8b.e26a8",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "44428d5b.1ba1d4",
    "type": "mqtt out",
    "z": "564c5e8b.e26a8",
    "name": "",
    "topic": "/test",
    "qos": "",
    "retain": "",
    "broker": "6a927010.30e06",
    "x": 750,
    "y": 320,
    "wires": []
  },
  {
    "id": "4deeebbf.ef0344",
    "type": "mosca in",
    "z": "564c5e8b.e26a8",
    "mqtt_port": 1883,
    "mqtt_ws_port": 8080,
    "name": "",
    "username": "",
    "password": "",
    "dburl": "",
    "x": 490,
    "y": 160,
    "wires": [["306fbc74.574ce4"]]
  },
  {
    "id": "306fbc74.574ce4",
    "type": "debug",
    "z": "564c5e8b.e26a8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 740,
    "y": 160,
    "wires": []
  },
  {
    "id": "9d0bb9c1.7895c8",
    "type": "inject",
    "z": "564c5e8b.e26a8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 520,
    "y": 320,
    "wires": [["44428d5b.1ba1d4"]]
  },
  {
    "id": "14f26374.176e3d",
    "type": "comment",
    "z": "564c5e8b.e26a8",
    "name": "Publish Zone",
    "info": "",
    "x": 530,
    "y": 260,
    "wires": []
  },
  {
    "id": "a88ba043.3bf07",
    "type": "mqtt out",
    "z": "564c5e8b.e26a8",
    "name": "control AIR",
    "topic": "Node/air",
    "qos": "",
    "retain": "",
    "broker": "bd6355eb.c55698",
    "x": 730,
    "y": 400,
    "wires": []
  },
  {
    "id": "e1b4aebb.b8b28",
    "type": "mqtt out",
    "z": "564c5e8b.e26a8",
    "name": "control FAN",
    "topic": "Node/fan",
    "qos": "2",
    "retain": "",
    "broker": "bd6355eb.c55698",
    "x": 730,
    "y": 460,
    "wires": []
  },
  {
    "id": "97ce65be.4ad158",
    "type": "mqtt out",
    "z": "564c5e8b.e26a8",
    "name": "control light1 Color",
    "topic": "Node/light1",
    "qos": "",
    "retain": "",
    "broker": "bd6355eb.c55698",
    "x": 710,
    "y": 520,
    "wires": []
  },
  {
    "id": "c35dc76a.8b1118",
    "type": "mqtt out",
    "z": "564c5e8b.e26a8",
    "name": "control light2 Color",
    "topic": "Node/light2",
    "qos": "",
    "retain": "",
    "broker": "bd6355eb.c55698",
    "x": 710,
    "y": 580,
    "wires": []
  },
  {
    "id": "e97ea37b.f0d9",
    "type": "mqtt out",
    "z": "564c5e8b.e26a8",
    "name": "control light3 Color",
    "topic": "Node/light3",
    "qos": "",
    "retain": "",
    "broker": "bd6355eb.c55698",
    "x": 710,
    "y": 640,
    "wires": []
  },
  {
    "id": "9e2ab768.7561e8",
    "type": "inject",
    "z": "564c5e8b.e26a8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 520,
    "y": 400,
    "wires": [["a88ba043.3bf07"]]
  },
  {
    "id": "c7eaf361.b5cf",
    "type": "inject",
    "z": "564c5e8b.e26a8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 520,
    "y": 460,
    "wires": [["e1b4aebb.b8b28"]]
  },
  {
    "id": "413f9a32.bea634",
    "type": "inject",
    "z": "564c5e8b.e26a8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 520,
    "y": 520,
    "wires": [["97ce65be.4ad158"]]
  },
  {
    "id": "70c87dec.c9e704",
    "type": "inject",
    "z": "564c5e8b.e26a8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 520,
    "y": 580,
    "wires": [["c35dc76a.8b1118"]]
  },
  {
    "id": "a4b79b2a.dc1088",
    "type": "inject",
    "z": "564c5e8b.e26a8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 520,
    "y": 640,
    "wires": [["e97ea37b.f0d9"]]
  },
  {
    "id": "6a927010.30e06",
    "type": "mqtt-broker",
    "z": "",
    "name": "Local Host Mqtt",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "bd6355eb.c55698",
    "type": "mqtt-broker",
    "z": "",
    "name": "Local Host Mqtt",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]
