workshop_14/Node-RED/solution.json
[
  {
    "id": "b6004409.097f78",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "a0c57b16.5f1828",
    "type": "mqtt in",
    "z": "b6004409.097f78",
    "name": "",
    "topic": "M5/env",
    "qos": "2",
    "datatype": "json",
    "broker": "bd6355eb.c55698",
    "x": 510,
    "y": 280,
    "wires": [["ea209ff9.e136b", "50613e35.b99de", "3e2af109.97f0ee"]]
  },
  {
    "id": "ea209ff9.e136b",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "TEMP",
    "func": "msg.payload = msg.payload.temp;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 790,
    "y": 240,
    "wires": [["b0ebd1bd.8f678"]]
  },
  {
    "id": "50613e35.b99de",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "HUMI",
    "func": "msg.payload = msg.payload.humi;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 790,
    "y": 280,
    "wires": [["677f07d4.154148"]]
  },
  {
    "id": "3e2af109.97f0ee",
    "type": "function",
    "z": "b6004409.097f78",
    "name": "Pressure",
    "func": "msg.payload = (msg.payload.pres/100000).toFixed(2);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 790,
    "y": 360,
    "wires": [["3897ba9.3802a46"]]
  },
  {
    "id": "b0ebd1bd.8f678",
    "type": "ui_gauge",
    "z": "b6004409.097f78",
    "name": "",
    "group": "a8edd420.888408",
    "order": 1,
    "width": 4,
    "height": 3,
    "gtype": "donut",
    "title": "อุณหภูมิห้อง",
    "label": "celsius",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#1ae8ff", "#bd00e6", "#ff0209"],
    "seg1": "",
    "seg2": "",
    "x": 960,
    "y": 240,
    "wires": []
  },
  {
    "id": "677f07d4.154148",
    "type": "ui_gauge",
    "z": "b6004409.097f78",
    "name": "",
    "group": "a8edd420.888408",
    "order": 3,
    "width": 4,
    "height": 3,
    "gtype": "gage",
    "title": "ความชื้น",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#47696d", "#4492a2", "#21c4e0"],
    "seg1": "",
    "seg2": "",
    "x": 950,
    "y": 320,
    "wires": []
  },
  {
    "id": "3897ba9.3802a46",
    "type": "ui_gauge",
    "z": "b6004409.097f78",
    "name": "",
    "group": "a8edd420.888408",
    "order": 2,
    "width": 4,
    "height": 3,
    "gtype": "gage",
    "title": "ความกดอากาศ",
    "label": "bar",
    "format": "{{value}}",
    "min": 0,
    "max": "2",
    "colors": ["#9fffab", "#0ce600", "#008006"],
    "seg1": "",
    "seg2": "",
    "x": 970,
    "y": 400,
    "wires": []
  },
  {
    "id": "bd6355eb.c55698",
    "type": "mqtt-broker",
    "z": "",
    "name": "Local Host Mqtt",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "a8edd420.888408",
    "type": "ui_group",
    "z": "",
    "name": "ENVIRONMENT",
    "tab": "e2a41ba8.88cee8",
    "order": 2,
    "disp": true,
    "width": 4,
    "collapse": false
  },
  {
    "id": "e2a41ba8.88cee8",
    "type": "ui_tab",
    "z": "",
    "name": "R O O M - MAIN",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false,
    "info": "<!--<!doctype html>-->\r\n<!--<html>-->\r\n<!--  <head>-->\r\n    <!-- Place your kit's code here -->\r\n<!--    <script src=\"https://kit.fontawesome.com/e71b471599.js\" crossorigin=\"anonymous\"></script>-->\r\n<!--  </head>-->\r\n\r\n<!--  <body>-->\r\n<!--    <i class=\"fa fa-level-up\" aria-hidden=\"true\"></i>-->\r\n<!--    <i class=\"fa fa-level-down\" aria-hidden=\"true\"></i>-->\r\n<!--  </body>-->\r\n<!--</html>-->"
  }
]
