workshop_19/Node-RED/solution.json
[
  {
    "id": "d2f9c31c.80d08",
    "type": "tab",
    "label": "Flow 5",
    "disabled": false,
    "info": ""
  },
  {
    "id": "9f6a9280.8e6c9",
    "type": "mqtt in",
    "z": "d2f9c31c.80d08",
    "name": "Light",
    "topic": "",
    "qos": "2",
    "datatype": "auto",
    "broker": "",
    "x": 250,
    "y": 200,
    "wires": [["60abb4ea.80e94c"]]
  },
  {
    "id": "e9f6e8b9.e2dee8",
    "type": "mqtt in",
    "z": "d2f9c31c.80d08",
    "name": "air",
    "topic": "",
    "qos": "2",
    "datatype": "auto",
    "broker": "",
    "x": 250,
    "y": 260,
    "wires": [["a32f5d68.0913f"]]
  },
  {
    "id": "529e4e48.b17fb",
    "type": "mqtt in",
    "z": "d2f9c31c.80d08",
    "name": "fan",
    "topic": "",
    "qos": "2",
    "datatype": "auto",
    "broker": "",
    "x": 250,
    "y": 320,
    "wires": [["4fb1a28d.d1488c"]]
  },
  {
    "id": "3a6467f3.fcd638",
    "type": "lineheader",
    "z": "d2f9c31c.80d08",
    "name": "",
    "token": "",
    "x": 650,
    "y": 260,
    "wires": [["6d23c4c3.08211c", "367d0745.486798"]]
  },
  {
    "id": "367d0745.486798",
    "type": "http request",
    "z": "d2f9c31c.80d08",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": false,
    "url": "https://notify-api.line.me/api/notify",
    "tls": "",
    "proxy": "",
    "authType": "",
    "x": 850,
    "y": 320,
    "wires": [[]]
  },
  {
    "id": "6d23c4c3.08211c",
    "type": "debug",
    "z": "d2f9c31c.80d08",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 850,
    "y": 200,
    "wires": []
  },
  {
    "id": "60abb4ea.80e94c",
    "type": "function",
    "z": "d2f9c31c.80d08",
    "name": "check Light",
    "func": "var check = msg.payload.st;\nvar name = 'Light';\nif (check === 0)\n{\n    msg.payload.chk = 'close';\n}\nelse{\n    msg.payload.chk = 'open';\n}\nmsg.payload = name + ' ' + msg.payload.chk;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 200,
    "wires": [["3a6467f3.fcd638"]]
  },
  {
    "id": "a32f5d68.0913f",
    "type": "function",
    "z": "d2f9c31c.80d08",
    "name": "check Air",
    "func": "var check = msg.payload.st;\nvar name = 'Air';\nif (check === 0)\n{\n    msg.payload.chk = 'close';\n}\nelse{\n    msg.payload.chk = 'open';\n}\nmsg.payload = name + ' ' + msg.payload.chk + ' ' + msg.payload.temp + ' Celsius';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 260,
    "wires": [["3a6467f3.fcd638"]]
  },
  {
    "id": "4fb1a28d.d1488c",
    "type": "function",
    "z": "d2f9c31c.80d08",
    "name": "check Fan",
    "func": "var check = msg.payload.st;\nvar name = 'fan';\nif (check === 0)\n{\n    msg.payload.chk = 'close';\n}\nelse{\n    msg.payload.chk = 'open';\n}\nmsg.payload = name + ' ' + msg.payload.chk +' Level ' +  msg.payload.lv;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 320,
    "wires": [["3a6467f3.fcd638"]]
  }
]
