workshop_12/Node-RED/solution.json
[
  {
    "id": "cfb79169.51cc",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "95b57a4a.661468",
    "type": "mqtt in",
    "z": "cfb79169.51cc",
    "name": "",
    "topic": "M5/light2",
    "qos": "2",
    "datatype": "json",
    "broker": "6a927010.30e06",
    "x": 460,
    "y": 280,
    "wires": [["6969daf4.6c6454", "b5aab3d7.9167f"]]
  },
  {
    "id": "6969daf4.6c6454",
    "type": "debug",
    "z": "cfb79169.51cc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 810,
    "y": 280,
    "wires": []
  },
  {
    "id": "1f315fb.5da34a",
    "type": "mqtt in",
    "z": "cfb79169.51cc",
    "name": "",
    "topic": "M5/air",
    "qos": "2",
    "datatype": "json",
    "broker": "6a927010.30e06",
    "x": 450,
    "y": 700,
    "wires": [["4fb7f8d6.8d5198", "117164f4.c5cdfb"]]
  },
  {
    "id": "117164f4.c5cdfb",
    "type": "debug",
    "z": "cfb79169.51cc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 810,
    "y": 700,
    "wires": []
  },
  {
    "id": "254d926c.7a88ae",
    "type": "mqtt in",
    "z": "cfb79169.51cc",
    "name": "",
    "topic": "M5/fan",
    "qos": "2",
    "datatype": "json",
    "broker": "6a927010.30e06",
    "x": 450,
    "y": 567,
    "wires": [["f09f4989.56aab8", "a4e3c591.3eb1b8"]]
  },
  {
    "id": "f09f4989.56aab8",
    "type": "debug",
    "z": "cfb79169.51cc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 810,
    "y": 567,
    "wires": []
  },
  {
    "id": "32c11bce.f494d4",
    "type": "mqtt in",
    "z": "cfb79169.51cc",
    "name": "",
    "topic": "M5/light3",
    "qos": "2",
    "datatype": "json",
    "broker": "6a927010.30e06",
    "x": 460,
    "y": 420,
    "wires": [["f5f7f836.bd06f8"]]
  },
  {
    "id": "aa30c6d1.33ba98",
    "type": "debug",
    "z": "cfb79169.51cc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 850,
    "y": 420,
    "wires": []
  },
  {
    "id": "62ac05f5.587d6c",
    "type": "mqtt in",
    "z": "cfb79169.51cc",
    "name": "",
    "topic": "M5/light1",
    "qos": "2",
    "datatype": "json",
    "broker": "6a927010.30e06",
    "x": 460,
    "y": 160,
    "wires": [["fb5fda67.8b9a48", "d0ae96be.625728"]]
  },
  {
    "id": "fb5fda67.8b9a48",
    "type": "debug",
    "z": "cfb79169.51cc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 850,
    "y": 160,
    "wires": []
  },
  {
    "id": "c76514bd.65aab8",
    "type": "mongodb3 in",
    "z": "cfb79169.51cc",
    "service": "_ext_",
    "configNode": "a3656769.4d3e58",
    "name": "update air",
    "collection": "electric appliance",
    "operation": "updateOne",
    "x": 800,
    "y": 640,
    "wires": [["11beed58.eba213"]]
  },
  {
    "id": "b1b7351b.6a1498",
    "type": "mongodb3 in",
    "z": "cfb79169.51cc",
    "service": "_ext_",
    "configNode": "a3656769.4d3e58",
    "name": "update light1",
    "collection": "electric appliance",
    "operation": "updateOne",
    "x": 830,
    "y": 100,
    "wires": [["dc7e4807.631a98"]]
  },
  {
    "id": "3e006692.66f87a",
    "type": "mongodb3 in",
    "z": "cfb79169.51cc",
    "service": "_ext_",
    "configNode": "a3656769.4d3e58",
    "name": "update light3",
    "collection": "electric appliance",
    "operation": "updateOne",
    "x": 850,
    "y": 360,
    "wires": [["7c374fb7.1abd1"]]
  },
  {
    "id": "d0ae96be.625728",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "updatel light1",
    "func": "msg.payload =[{\n    name:\"light1\"\n},{\n    $set:{\n        st:msg.payload.st\n    }\n}]\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 670,
    "y": 100,
    "wires": [["b1b7351b.6a1498"]]
  },
  {
    "id": "f5f7f836.bd06f8",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "updatel light3",
    "func": "msg.payload =[{\n    name:\"light3\"\n},{\n    $set:{\n        st:msg.payload.st\n    }\n}]\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 650,
    "y": 360,
    "wires": [["3e006692.66f87a", "aa30c6d1.33ba98"]]
  },
  {
    "id": "4fb7f8d6.8d5198",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "update air",
    "func": "\nmsg.payload =[{\n    name:\"air\"\n},{\n    $set:{\n        st:msg.payload.st,\n        temp:msg.payload.temp\n    }\n}]\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 640,
    "wires": [["c76514bd.65aab8"]]
  },
  {
    "id": "11beed58.eba213",
    "type": "debug",
    "z": "cfb79169.51cc",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 970,
    "y": 640,
    "wires": []
  },
  {
    "id": "b5aab3d7.9167f",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "updatel light2",
    "func": "msg.payload =[{\n    name:\"light2\"\n},{\n    $set:{\n        st:msg.payload.st\n    }\n}]\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 670,
    "y": 220,
    "wires": [["d9388afa.7fd428"]]
  },
  {
    "id": "d9388afa.7fd428",
    "type": "mongodb3 in",
    "z": "cfb79169.51cc",
    "service": "_ext_",
    "configNode": "a3656769.4d3e58",
    "name": "update light2",
    "collection": "electric appliance",
    "operation": "updateOne",
    "x": 830,
    "y": 220,
    "wires": [["6f00f3d9.1dad9c"]]
  },
  {
    "id": "a4e3c591.3eb1b8",
    "type": "function",
    "z": "cfb79169.51cc",
    "name": "updatel light3",
    "func": "msg.payload =[{\n    name:\"fan\"\n},{\n    $set:{\n        st:msg.payload.st,\n        lv:msg.payload.lv\n    }\n}]\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 630,
    "y": 507,
    "wires": [["7b022e0e.37bd1"]]
  },
  {
    "id": "7b022e0e.37bd1",
    "type": "mongodb3 in",
    "z": "cfb79169.51cc",
    "service": "_ext_",
    "configNode": "a3656769.4d3e58",
    "name": "update fan",
    "collection": "electric appliance",
    "operation": "updateOne",
    "x": 810,
    "y": 507,
    "wires": [["ff71aabe.7288b8"]]
  },
  {
    "id": "dc7e4807.631a98",
    "type": "debug",
    "z": "cfb79169.51cc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1010,
    "y": 100,
    "wires": []
  },
  {
    "id": "7c374fb7.1abd1",
    "type": "debug",
    "z": "cfb79169.51cc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1070,
    "y": 360,
    "wires": []
  },
  {
    "id": "ff71aabe.7288b8",
    "type": "debug",
    "z": "cfb79169.51cc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 970,
    "y": 507,
    "wires": []
  },
  {
    "id": "6f00f3d9.1dad9c",
    "type": "debug",
    "z": "cfb79169.51cc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 990,
    "y": 220,
    "wires": []
  },
  {
    "id": "85d7f42b.c7f2d8",
    "type": "link in",
    "z": "cfb79169.51cc",
    "name": "Mongo Air Temp",
    "links": ["31119467.4946ac", "61b8ed29.c0e3e4"],
    "x": 415,
    "y": 640,
    "wires": [["4fb7f8d6.8d5198", "61dff42d.3f531c"]]
  },
  {
    "id": "61dff42d.3f531c",
    "type": "debug",
    "z": "cfb79169.51cc",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 640,
    "y": 820,
    "wires": []
  },
  {
    "id": "6a927010.30e06",
    "type": "mqtt-broker",
    "z": "",
    "name": "Local Host Mqtt",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "a3656769.4d3e58",
    "type": "mongodb3",
    "z": "",
    "uri": "",
    "name": "",
    "options": "",
    "parallelism": "-1"
  }
]
