workshop_10/Node-RED/solutio.json
[
  {
    "id": "d444d74d.91ecb8",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "347b2f59.47993",
    "type": "inject",
    "z": "d444d74d.91ecb8",
    "name": "AIR JSON MOCK UP",
    "topic": "",
    "payload": "{\"st\":1,\"temp\":25}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 520,
    "y": 200,
    "wires": [["59930fd4.9cdb"]]
  },
  {
    "id": "925bfee5.3691c",
    "type": "inject",
    "z": "d444d74d.91ecb8",
    "name": "FAN JSON MOCK UP",
    "topic": "",
    "payload": "{\"st\":1,\"lv\":3}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 520,
    "y": 260,
    "wires": [["e2073093.352cb"]]
  },
  {
    "id": "69e023a0.1761fc",
    "type": "inject",
    "z": "d444d74d.91ecb8",
    "name": "LIGHT1 JSON MOCK UP",
    "topic": "",
    "payload": "{\"st\":1,\"R\":25,\"G\":25,\"B\":255}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 530,
    "y": 320,
    "wires": [["dc48c6cf.dd0028"]]
  },
  {
    "id": "fa795c03.8b801",
    "type": "inject",
    "z": "d444d74d.91ecb8",
    "name": "LIGHT2 JSON MOCK UP",
    "topic": "",
    "payload": "{\"st\":1,\"R\":25,\"G\":25,\"B\":255}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 530,
    "y": 360,
    "wires": [["ba619f08.a28ae"]]
  },
  {
    "id": "70d9dbc7.110174",
    "type": "inject",
    "z": "d444d74d.91ecb8",
    "name": "LIGHT2 JSON MOCK UP",
    "topic": "",
    "payload": "{\"st\":1,\"R\":25,\"G\":25,\"B\":255}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 530,
    "y": 420,
    "wires": [["4da13457.c31c1c"]]
  },
  {
    "id": "59930fd4.9cdb",
    "type": "mqtt out",
    "z": "d444d74d.91ecb8",
    "name": "control AIR",
    "topic": "Node/air",
    "qos": "",
    "retain": "",
    "broker": "bd6355eb.c55698",
    "x": 830,
    "y": 200,
    "wires": []
  },
  {
    "id": "e2073093.352cb",
    "type": "mqtt out",
    "z": "d444d74d.91ecb8",
    "name": "control FAN",
    "topic": "Node/fan",
    "qos": "2",
    "retain": "",
    "broker": "bd6355eb.c55698",
    "x": 830,
    "y": 260,
    "wires": []
  },
  {
    "id": "dc48c6cf.dd0028",
    "type": "mqtt out",
    "z": "d444d74d.91ecb8",
    "name": "control light1 Color",
    "topic": "Node/light1",
    "qos": "",
    "retain": "",
    "broker": "bd6355eb.c55698",
    "x": 850,
    "y": 320,
    "wires": []
  },
  {
    "id": "ba619f08.a28ae",
    "type": "mqtt out",
    "z": "d444d74d.91ecb8",
    "name": "control light2 Color",
    "topic": "Node/light2",
    "qos": "",
    "retain": "",
    "broker": "bd6355eb.c55698",
    "x": 850,
    "y": 360,
    "wires": []
  },
  {
    "id": "4da13457.c31c1c",
    "type": "mqtt out",
    "z": "d444d74d.91ecb8",
    "name": "control light3 Color",
    "topic": "Node/light3",
    "qos": "",
    "retain": "",
    "broker": "bd6355eb.c55698",
    "x": 850,
    "y": 420,
    "wires": []
  },
  {
    "id": "bd6355eb.c55698",
    "type": "mqtt-broker",
    "z": "",
    "name": "Local Host Mqtt",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]
